---
import CSGOConsoleLogo from "../components/Header/CSGOConsoleLogo.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<CSGOConsoleLogo size={128} />
	<h2>test</h2>
</MainLayout>

<style lang="pcss">

</style>