---
import PostList from "../components/PostList/PostList.astro";
import MainLayout from "../layouts/MainLayout.astro";
// Also, you can import multiple files with Astro.glob
const posts = await Astro.glob('../pages/resources/*.md');
const content = {
	title: "Resources, Guides & Configuration",
	section: "guides",
	herotext: ["We have compiled a list of mods, browser plugins and useful resources to enhance your experience when your in or out of the game."]
}
---

<MainLayout {content}>
	<article>
		<h2 id="pages">
			Pages
		</h2>
		<PostList {posts} />
	</article>
</MainLayout>